# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 1.0.{build}

# you can use {branch} name in version format too
# version: 1.0.{build}-{branch}

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Operating system (build VM template)
os: Windows Server 2012

# this is how to allow failing jobs in the matrix
matrix:
  fast_finish: true     # set this flag to immediately finish build once one of the jobs fails.


#---------------------------------#
#       build configuration       #
#---------------------------------#

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
platform:

# build Configuration, i.e. Debug, Release, etc.
#configuration: 
# - Debug
# - Release

clone_folder: c:\sources\brigand

build:
  parallel: true
  project: c:\sources\brigand\build\brigand.sln
  verbosity: minimal 

# scripts to run before build
before_build:
  - cd c:\sources\brigand
  - md build
  - cd build
  - cmake -G"Visual Studio 12 2013 Win64" -DBOOST_ROOT="C:\Libraries\boost_1_59_0" ..

# scripts to run after build
after_build:

build_script:
 - cd c:\sources\brigand\build
 - msbuild /target:brigand_test /p:Configuration=Release;Platform="x64" brigand.sln
 - msbuild /target:brigand_test /p:Configuration=Debug;Platform="x64" brigand.sln

# scripts to run before tests
before_test:

# scripts to run after tests
after_test:

# to run your custom scripts instead of automatic tests
test_script:
 - cd c:\sources\brigand\build
 - cmd: ctest -C Debug -VV
 - cmd: ctest -C Release -VV



